        body {
            margin: 0;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: url('flappy_bird_app_bg_only.png') no-repeat center center;
            background-size: cover;
        }

        #gameContainer {
            position: relative;
            width: 100%;
            height: 100%;
        }

        canvas {
            display: block;
            background: transparent;
            width: 100%;
            height: 100%;
        }

        /* #gameOverScreen {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 350px;
            height: 50%;
            align-items: center;
            justify-content: center;
            text-align: start;
            background: #f4d03f;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            font-family: Arial, sans-serif;
            padding: 2rem;
        } */
        #gameOverScreen {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            background: #f4d03f;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            font-family: Arial, sans-serif;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 400px;
            /* height: 60%; */
            height: fit-content;
        }
        
        #gameOverScreen h2 {
            margin: 0;
            font-size: 2.5rem;
            color: rgb(0, 0, 0);
            font-weight: bolder;
        }

        #gameovercontent {
            margin-top: 20%;
        }

        #gameOverScreen div {
            font-size: 1.8rem;
        }

        #scoreDetails {
            margin: 15px 0;
            display: flex;
            flex-direction: column;
            font-size: 18px;
        }

        #scoreDetails #finalScore {
            font-size: 2rem;
            color: rgb(61, 61, 61);
            font-weight: 900;
        }

        #scoreDetails #highScore {
            font-size: 2rem;
            margin-top: -15px;
            color: rgb(61, 61, 61);
            font-weight: 900;
        }

        .button {
            display: block;
            margin: 20% auto 40px auto;
            padding: 20px 25px;
            font-size: 18px;
            font-weight: bold;
            background: #e74c3c;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 65%;
        }

        .button:hover {
            background: #c0392b;
        }

        #scoreDisplay {
            position: absolute;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 50px;
            font-weight: bold;
            color: white;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }